<br/>

<div class="feed">
  <div class="story">
    <span class="corner"><%= @story["corner"] %></span>
    <hr class="before"/>
    <img src="<%= @story["picture"] %>" />
    <p><%= @story["location"] %>
    <h4><%= @story["description"] %></h4>
    <p><a href="<%= @story["links"]%>">Links</a></p>

<a href="/stories/new"><p>Choose a place and start a new story</p></a>

    <% if @story["tags"] %>
      <br/><%= @story["tags"] %>
    <% end %></p>
    <hr class="after"/>

  </div>
</div>
